p {
	margin: 0px;
	padding: 0px;
}

body {
	background: white;
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Arial';
}

.container {
	width: 70%;
	margin: 0 auto;
	padding: 24px;
	padding-top: 0px;
	font-size: 14px;
}

.transcription-info {
	font-weight: bold;
	color: orange;
	margin-left: 16px;
}

#toolbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}

#upload-container {
	display: flex;
	align-items: center;
}

#lbl-filename {
	margin-right: 16px;
}

#providers-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 24px;
}

.provider-container {
	width: 48%;
	background: silver;
	color: rgba(255, 255, 255, 0.8);
	margin: 0 auto;
}

.provider-title {
	font-weight: bold;
}

.transcription-text {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	line-height: 23px;
	text-align: justify;
}

#amazonContainer {
	border-radius: 10px;
}

#googleContainer {
	border-radius: 10px;
}
