@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

body{
	background-color: grey;
}

p {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 70%;
	margin: 0 auto;

	font-size: 14px;
	background-color: white;
}

#transcription-info {
	font-weight: bold;
	color: #27ae60;
}

#toolbar {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#upload-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#lbl-filename {
	margin-right: 16px;
}

#providers-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 24px;
}

.provider-container {
	width: 48%;
}

.provider-title {
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 15px;
}

.transcription-text {
	margin-top: 16px;
	line-height: 23px;
	
}

#amazonContainer {
	padding-left: 16px;
}

#googleContainer {
	padding-right: 16px;
}
#trans{
	font-weight: bold;
	color: white
}
